version: "3.9"

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: nextjs-app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      API_BASE_URL: https://api.langagent.ir/api/blog
      NEXT_PUBLIC_API_BASE_URL: https://api.langagent.ir/api/blog
